---
import Prose from '@/components/ui/Prose.astro';
import DownloadBtn from '@/components/ui/DownloadBtn.astro';
import { getLangFromUrl } from '@/i18n/utils';
import { getEntry, render } from 'astro:content';
import { Image } from 'astro:assets';
import PersonalPhoto from '@/assets/personal-photo.jpg';

const lang = getLangFromUrl(Astro.url);
const contentText = await getEntry('about', `${lang}/about`);
const { Content } = await render(contentText);
---

<section
  class={`
  flex flex-col justify-center items-center min-h-[100vh] mx-auto
  lg:min-h-fit
  xl:gap-20 xl:flex-row
  2xl:max-w-[1440px] 2xl:mb-52 
  `}
  data-aos="fade-up"
  data-aos-easing="ease-in"
  data-aos-once="true"
  data-aos-anchor-placement="center-bottom"
  {...Astro.props}
>
  <div
    class={`
    rounded-xl overflow-hidden shadow-[0_0_30px_#171a21]
    w-8/12 mb-6
    lg:w-5/12
    xl:w-7/12
    xl:mb-0
    `}
  >
    <Image src={PersonalPhoto} class="h-full w-full object-cover" alt="Personal photo" quality={'max'} />
  </div>

  <div class="text-center lg:h-full lg:w-full xl:text-left">
    <h3 class="text-3xl font-semibold text-[hsla(217,33%,17%,1)] dark:text-white sm:text-4xl md:text-3xl lg:text-3xl xl:text-3xl 2xl:text-4xl">
      {contentText.data.title}
    </h3>

    <Prose>
      <Content />
    </Prose>

    <div class="flex justify-center xl:justify-start">
      <DownloadBtn class="" href="https://github.com/GuzH09" ariaLabel=`${contentText.data.button}`>
        {contentText.data.button}
      </DownloadBtn>
    </div>
  </div>
</section>
