---
import DownloadBtn from '@/components/ui/DownloadBtn.astro';
import SocialBtn from '@/components/ui/SocialBtn.astro';
import { getLangFromUrl } from '@/i18n/utils';
import { getEntry, render } from 'astro:content';
import HeroTextSVG from '@/components/features/HeroTextSVG.astro';
import Prose from '@/components/ui/Prose.astro';
import PersonalPhoto from '@/assets/personal-photo.jpg';
import { Image } from 'astro:assets';

const lang = getLangFromUrl(Astro.url);
const contentText = await getEntry('home', `${lang}/home`);
const contentTextAbout = await getEntry('about', `${lang}/about`);
const { Content } = await render(contentTextAbout);
---

<section
  class={`
  background-main 
  flex flex-col justify-center items-center min-h-[100vh] lg:pt-20 
  xl:pt-32 xl:min-h-[110vh] xl:justify-start
  2xl:pt-48 
  `}
  {...Astro.props}
>
  <div class="flex w-full flex-col lg:grid lg:grid-cols-2 xl:max-w-[1024px] 2xl:max-w-[1200px]">
    <div
      class={`
      order-1
      flex flex-col justify-center items-center mx-auto pt-28
      lg:pt-0 lg:w-full
      `}
      data-aos="fade"
      data-aos-easing="linear"
      data-aos-once="true"
      data-aos-anchor-placement="center-bottom"
    >
      <div
        class={`
        rounded-full overflow-hidden shadow-[0_0_30px_#171a21]
        border-4 dark:border-[hsla(202,97%,76%,0.2)]
        w-7/12 mb-6
        lg:w-9/12
        xl:w-9/12 xl:mb-0
        2xl:w-7/12
        `}
      >
        <Image src={PersonalPhoto} class="aspect-square h-full w-full object-cover" alt="Personal photo" quality={'max'} />
      </div>
    </div>

    <div class="order-2 flex w-full flex-col items-center justify-center lg:items-start lg:justify-start">
      <HeroTextSVG
        class={`
        w-10/12
        h-auto mb-4 max-w-[633px]
        sm:h-auto sm:w-full sm:mb-4
        lg:min-h-[66px] lg:h-auto lg:w-full
        `}
      />

      <h2
        class={`
        font-normal 
        text-2xl text-center mb-4 dark:text-white text-[hsla(217,33%,17%,1)]
        sm:text-5xl sm:text-center sm:mb-6 
        md:text-5xl md:mb-8 
        lg:text-4xl lg:text-center lg:mb-0 
        xl:text-4xl xl:mb-0
        2xl:text-5xl 2xl:mb-0
        `}
      >
        {contentText.data.role}
      </h2>

      <span class="mb-2 w-10/12 border-b border-black/30 dark:border-white/30 lg:my-4 lg:w-2/3 xl:w-2/3"></span>

      <div class="mb-4 text-center lg:w-full xl:text-left">
        <Prose class="lg:w-full">
          <Content />
        </Prose>
      </div>

      <div
        class={`
        w-full 
        flex flex-col justify-center items-center mb-4 
        sm:mb-6 sm:gap-4 
        md:mb-8 
        lg:flex lg:flex-row lg:mb-4 lg:justify-start
        xl:flex xl:flex-row xl:mb-4
        2xl:flex 2xl:flex-row 2xl:mb-4
        `}
      >
        <DownloadBtn
          class="mb-4 min-w-[182px] text-center sm:mb-0 lg:mr-2 2xl:mr-0 2xl:w-60"
          href="https://drive.google.com/drive/folders/1POMyenoQ7IMq-kBH8vAAEoq95Z7haQZ1?usp=drive_link"
          ariaLabel=`${contentText.data.downloadButton1}`
        >
          {contentText.data.downloadButton1}
        </DownloadBtn>
        <DownloadBtn
          class="min-w-[182px] text-center lg:mb-0 lg:mr-2 2xl:mr-0 2xl:w-60"
          href="https://drive.google.com/drive/folders/1EnI2hPRdjNz9WhFbekU4uWVIZdPSwtdQ?usp=drive_link"
          ariaLabel=`${contentText.data.downloadButton2}`
        >
          {contentText.data.downloadButton2}
        </DownloadBtn>
      </div>

      <div
        class={`
        flex gap-2 mb-8 
        sm:gap-6 sm:mb-0 
        lg:mb-10 lg:gap-2 
        `}
      >
        <SocialBtn class="size-12 lg:size-12 2xl:mr-0" href="https://github.com/GuzH09">
          <i class="fa-brands fa-github text-xl"></i>
        </SocialBtn>
        <SocialBtn class="size-12 lg:mr-4 lg:size-12 2xl:mr-0" href="https://www.linkedin.com/in/hernan-agustin-otero-dev/">
          <i class="fa-brands fa-linkedin-in text-xl"></i>
        </SocialBtn>
        <SocialBtn class="w-auto gap-2 px-2 lg:mr-4 2xl:mr-0" href="https://www.upwork.com/freelancers/~01640f8bf97f97cce9">
          <i class="fa-brands fa-upwork text-xl"></i>
          <p>Freelance Profile</p>
        </SocialBtn>
      </div>
    </div>
  </div>
</section>
