---
import DownloadBtn from '@/components/ui/DownloadBtn.astro';
import SocialBtn from '@/components/ui/SocialBtn.astro';
import { getLangFromUrl } from '@/i18n/utils';
import { getEntry } from 'astro:content';
import { Image } from 'astro:assets';
import BackgroundImage from '@/assets/background-main-image.jpg';
import 'aos/dist/aos.css';

const lang = getLangFromUrl(Astro.url);
const contentText = await getEntry('home', `${lang}/home`);
---

<section
  class={`
  flex flex-col justify-center items-center pt-6 
  sm:pt-6 
  lg:pt-8 lg:min-h-[80vh] lg:justify-start 
  xl:flex-row xl:justify-between xl:items-center xl:pt-0 xl:mb-12 xl:min-h-[80vh]
  `}
  {...Astro.props}
>
  <div
    class="flex flex-col items-center justify-center xl:block xl:w-full"
    data-aos="fade-up"
    data-aos-delay="300"
    data-aos-easing="ease-in"
    data-aos-anchor-placement="center-bottom"
  >
    <h1
      class={`
      font-semibold 
      text-5xl text-center mb-8 dark:text-white text-slate-800
      sm:text-6xl sm:text-center sm:mb-14 
      md:text-5xl md:mb-8 
      lg:text-5xl lg:mb-10 
      xl:text-5xl xl:text-left xl:mb-4 
      2xl:text-6xl 2xl:mb-4 
      `}
    >
      Hernan Agustin Otero
    </h1>
    <h2
      class={`
      font-normal 
      text-4xl text-center mb-8 dark:text-white text-slate-800
      sm:text-5xl sm:text-center sm:mb-14 
      md:text-4xl md:mb-8 
      lg:text-4xl lg:text-left lg:mb-10 
      xl:text-4xl xl:mb-4
      2xl:text-5xl 2xl:mb-4
      `}
    >
      {contentText.data.role}
    </h2>

    <div
      class={`
      hidden overflow-hidden rounded-lg shadow-[1rem_0_3rem_#171a21] 
      md:block md:mb-8 md:w-[45rem] md:h-96 
      lg:slide-in-right lg:mb-10 
      xl:hidden
      `}
    >
      <Image src={BackgroundImage} alt="Web Development Photo" class="h-full w-full object-cover" quality={'mid'} />
    </div>

    <img
      src="https://skillicons.dev/icons?i=js,nodejs,express,html,css,bootstrap,sass,react,tailwind"
      class={`
      w-[298.8px] pb-2 
      sm:w-auto sm:pb-4 
      lg:w-auto lg:pb-2 
      `}
    />
    <img
      src="https://skillicons.dev/icons?i=mongodb,firebase,mysql,postgres,python,astro,bots"
      class={`
      w-[231.3px] pb-8 
      sm:w-auto sm:pb-14 
      md:pb-8 
      lg:w-auto lg:pb-10 
      xl:pb-4 
      2xl:pb-4 
      `}
    />

    <nav
      class={`
      w-full 
      flex flex-col justify-center items-center mb-8 
      sm:mb-14 sm:gap-4 
      md:mb-8 
      lg:mb-10 
      xl:flex xl:flex-row xl:justify-start xl:mb-4
      2xl:flex 2xl:flex-row 2xl:justify-start 2xl:gap-2 2xl:mb-4
      `}
    >
      <DownloadBtn
        class="mb-4 sm:mb-0 lg:mr-2"
        href="https://drive.google.com/file/d/1x1Jq0ZVHsyXHkOb0_CQ4BRsjv5pn7xRN/view?usp=sharing"
        ariaLabel=`${contentText.data.downloadButton1}`
      >
        {contentText.data.downloadButton1}
      </DownloadBtn>
      <DownloadBtn
        class="lg:mb-0 lg:mr-2"
        href="https://drive.google.com/file/d/1zg5Zrhyou3IYD2GLXb6IuNQiG5qSonir/view?usp=sharing"
        ariaLabel=`${contentText.data.downloadButton2}`
      >
        {contentText.data.downloadButton2}
      </DownloadBtn>
    </nav>
    <nav
      class={`
      flex gap-2 mb-8 
      sm:gap-6 sm:mb-14 
      lg:mb-10 lg:gap-2
      `}
    >
      <SocialBtn class="size-12 lg:size-12 xl:mr-4" href="https://github.com/GuzH09">
        <i class="fa-brands fa-github text-xl"></i>
      </SocialBtn>
      <SocialBtn class="size-12 lg:mr-4 lg:size-12" href="https://www.linkedin.com/in/hernan-agustin-otero-dev/">
        <i class="fa-brands fa-linkedin-in text-xl"></i>
      </SocialBtn>
    </nav>
  </div>

  <div
    class={`
    hidden 
    overflow-hidden rounded-lg shadow-[1rem_0_3rem_#171a21] 
    xl:w-full xl:block
    2xl:w-10/12
    `}
    data-aos="fade-up"
    data-aos-delay="300"
    data-aos-easing="ease-in"
    data-aos-anchor-placement="center-bottom"
  >
    <Image src={BackgroundImage} alt="Web Development Photo" class="h-full w-full object-cover" quality={'low'} />
  </div>
</section>

<script>
  import AOS from 'aos';

  document.addEventListener('astro:page-load', () => {
    AOS.init({
      disable: 'mobile',
    });
  });
</script>
