---
import { getLangFromUrl, getPathFromUrl, useTranslations } from '@/i18n/utils';
import LanguageToggle from '@/components/ui/LanguageToggle.astro';
import ThemeToggle from '@/components/ui/ThemeToggle.astro';
import MobileMenuButton from '@/components/features/Navbar/MobileMenuButton.astro';

const lang = getLangFromUrl(Astro.url);
const path = getPathFromUrl(Astro.url);
const t = useTranslations(lang);
---

<!-- Mobile Menu Button -->
<MobileMenuButton
  buttonid="menuToggleOpen"
  iconid="menuIconOpen"
  icontitle="Open Menu"
  iconname="menu"
  arialabel="Open Mobile Menu"
  ariacontrols="mobileNavbar"
  ariaexpanded={false}
  class="lg:hidden"
/>

<!-- Mobile Navbar -->
<div id="mobileNavbar" class="fixed inset-0 z-0 hidden min-h-[150%] w-screen bg-white/35 backdrop-blur-2xl dark:bg-transparent lg:hidden">
  <section
    class={`
    flex size-full flex-col items-center justify-start 
    px-4 py-1 
    sm:px-10 sm:py-2
    md:px-10 
    `}
  >
    <!-- Mobile Menu Button -->
    <MobileMenuButton buttonid="menuToggleClose" iconid="menuIconClose" icontitle="Close Menu" iconname="close" arialabel="Close Mobile Menu" />

    <!-- Mobile Navbar Content -->
    <div class="mx-auto mt-4 flex w-10/12 flex-col items-center md:mt-12">
      <span aria-hidden="true" class="w-full border-b border-black/30 dark:border-white/30"></span>

      <!-- Anchor Links -->
      <div class="my-2 flex flex-col items-center justify-center gap-4">
        <a href={`/${lang}`} class="block text-xl text-[hsla(217,33%,25%,1)] dark:text-white sm:text-2xl md:pb-0 md:text-xl">{t('nav.home')}</a>
        <!-- <a
          id="scrollToAboutBtn"
          href={`/${lang}#about`}
          class="block text-xl text-[hsla(217,33%,25%,1)] dark:text-white sm:text-2xl md:pb-0 md:text-xl">{t('nav.about')}</a
        > -->
        <a
          id="scrollToPortfolioBtn"
          href={`/${lang}#portfolio`}
          class="block text-xl text-[hsla(217,33%,25%,1)] dark:text-white sm:text-2xl md:pb-0 md:text-xl">{t('nav.portfolio')}</a
        >
      </div>

      <span aria-hidden="true" class="w-full border-b border-black/30 dark:border-white/30"></span>

      <!-- Language and Theme Toggle -->
      <div class="my-4 flex flex-col items-center justify-center gap-6">
        <LanguageToggle
          href={`${t('nav.toggle.href')}/${path}`}
          hreflang={t('nav.toggle.hreflang')}
          imgSrcEn={t('nav.toggle.srcEn')}
          imgAltEn={t('nav.toggle.altEn')}
          imgSrcEs={t('nav.toggle.srcEs')}
          imgAltEs={t('nav.toggle.altEs')}
        />

        <ThemeToggle iconid="themeIconMobile" buttonid="themeToggleMobile" iconname="fa-moon" arialabel="Toggle Theme" />
      </div>

      <span aria-hidden="true" class="w-full border-b border-black/30 dark:border-white/30"></span>

      <!-- Copyright -->
      <section class="my-4 w-full">
        <p class="prose-sm text-center font-[400] text-[hsl(217,33%,17%)] dark:text-white">
          ©{new Date().getFullYear()} Hernan Agustin Otero.
        </p>
        <p class="prose-sm text-center font-[400] text-[hsl(217,33%,17%)] dark:text-white">All Rights Reserved.</p>
      </section>
    </div>
  </section>

  <script>
    document.addEventListener('astro:page-load', () => {
      // Theme Toggle
      const themeToggleMobile = document.getElementById('themeToggleMobile');
      const themeIconMobile = document.getElementById('themeIconMobile');
      const storageTheme = localStorage.getItem('theme');
      let savedTheme = storageTheme;

      // JavaScript to handle the navbar toggle
      const menuToggleOpen = document.getElementById('menuToggleOpen');
      const menuToggleClose = document.getElementById('menuToggleClose');
      const mobileNavbar = document.getElementById('mobileNavbar');

      if (savedTheme === 'dark') {
        document.documentElement.classList.add('dark');
        document.documentElement.classList.remove('light');
        themeIconMobile.classList.replace('fa-sun', 'fa-moon');
      } else {
        document.documentElement.classList.add('light');
        document.documentElement.classList.remove('dark');
        themeIconMobile.classList.replace('fa-moon', 'fa-sun');
      }

      themeToggleMobile.addEventListener('click', () => {
        document.startViewTransition(() => {
          const newTheme = savedTheme === 'light' ? 'dark' : 'light';
          savedTheme = newTheme;
          localStorage.setItem('theme', newTheme);

          if (newTheme === 'dark') {
            document.documentElement.classList.replace('light', 'dark');
            themeIconMobile.classList.replace('fa-sun', 'fa-moon');
            localStorage.setItem('theme', 'dark');
          } else {
            document.documentElement.classList.replace('dark', 'light');
            themeIconMobile.classList.replace('fa-moon', 'fa-sun');
            localStorage.setItem('theme', 'light');
          }
        });
      });

      function openNavbar() {
        document.startViewTransition(() => {
          mobileNavbar.classList.remove('hidden');
          menuToggleOpen.classList.add('hidden');
        });
      }

      function closeNavbar() {
        document.startViewTransition(() => {
          mobileNavbar.classList.add('hidden');
          menuToggleOpen.classList.remove('hidden');
        });
      }

      menuToggleOpen.addEventListener('click', (event) => {
        event.stopPropagation();
        openNavbar();
      });

      menuToggleClose.addEventListener('click', (event) => {
        event.stopPropagation();
        closeNavbar();
      });
    });
  </script>
</div>
