---
interface Props {
  href: string;
  hreflang: string;
  imgSrcEn: string;
  imgSrcEs: string;
  imgAltEn: string;
  imgAltEs: string;
}

const { href, hreflang, imgSrcEn, imgSrcEs, imgAltEn, imgAltEs} = Astro.props
---
<a 
  href={href} 
  hreflang={hreflang} 
  class="flex justify-center w-full gap-2 md:h-7 md:w-16 pb-6 md:pb-0" 
>
  <img 
    src={imgSrcEn} 
    alt={imgAltEn} 
    class={`size-7 object-cover ${hreflang === 'es' ? '' : 'grayscale'}`}>
  <img 
    src={imgSrcEs} 
    alt={imgAltEs} 
    class={`size-7 object-cover ${hreflang === 'en' ? '' : 'grayscale'}`}>
</a>