---
interface Props {
	title: string
	description: string
	canonical?: string
}

const { title, description, canonical } = Astro.props

const determineCanonicalURL = () => {
	if (Astro.url.host.includes("localhost")) return "http://localhost:4321"
	return canonical || Astro.url.pathname
}

const canonicalURL = new URL(determineCanonicalURL(), Astro.site)
---
<title>{title}</title>

<meta charset="UTF-8" />
<meta name="description" content={description} />

<link rel="canonical" href={canonicalURL} />
<meta name="viewport" content="width=device-width" />
<!-- <meta name="theme-color" content="#d5ff00" /> -->

<meta name="keywords" content="programador, desarrollador, portfolio, web, desarrollo, diseño" />

<!-- 
<meta name="twitter:card" content="" />
<meta name="twitter:site" content="" />
<meta name="twitter:creator" content="" />
<meta name="twitter:title" content={title} />
<meta name="twitter:description" content={description} />
<meta name="twitter:image" content={new URL(image, Astro.url)} /> 
-->

<!-- <meta property="og:image" content={new URL(image, Astro.url)} /> -->
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:url" content={Astro.url} />
<meta property="og:site_name" content="Portfolio de Hernan Otero" />
<meta property="og:type" content="website" />
<meta property="og:locale" content="es_ES" />

<meta name="robots" content="index, follow" />
<meta name="googlebot" content="index, follow" />

<link rel="icon" type="image/x-icon" href="./favicon.ico" />