---
import Header from '@/components/layouts/Header.astro';
import Footer from '@/components/layouts/Footer.astro';
import SEO from '@/components/layouts/SEO.astro';
import BackgroundImage from '@/components/features/BackgroundImage.astro';
import { ViewTransitions } from 'astro:transitions';
import '@fontsource/poppins/100.css';
import '@fontsource/poppins/200.css';
import '@fontsource/poppins/300.css';
import '@fontsource/poppins/400.css';
import '@fontsource/poppins/500.css';
import '@fontsource/poppins/600.css';
import '@fontsource/poppins/700.css';
import '@fontsource/poppins/800.css';
import '@fontsource/poppins/900.css';

interface Props {
  title: string;
  description: string;
  canonical?: string;
  lang: string;
}

const { title, description, canonical, lang } = Astro.props;
---

<!doctype html>
<html lang={lang}>
  <head>
    <script is:inline>
      function getInitialTheme() {
        const system = window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light';
        const savedTheme = localStorage.getItem('theme') || system;
        return savedTheme;
      }
      const theme = getInitialTheme();
      document.documentElement.classList.add(theme);
      localStorage.setItem('theme', theme);
    </script>

    <SEO canonical={canonical} description={description} title={title} lang={lang} />
    <script src="https://kit.fontawesome.com/d84373c6ce.js" crossorigin="anonymous" is:inline data-astro-rerun></script>
    <ViewTransitions />
  </head>
  <body transition:name="initial">
    <BackgroundImage />
    <Header />
    <slot />
    <Footer />
  </body>
</html>

<style is:global>
  :root {
    color-scheme: light dark;
    --twoxl-width: 1440px;
    --xl-width: 1200px;
    --lg-width: 960px;
    --main-bg-dark: hsl(219, 18%, 15%);
    --main-bg-light: hsl(219, 18%, 85%);
    --herotext-fill: hsl(217, 33%, 17%);
    --herotext-stroke: hsl(217, 33%, 17%);
  }

  .dark {
    --herotext-fill: white;
    --herotext-stroke: white;
  }

  html {
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth; /* Enables smooth scrolling for all anchor links */
  }

  html.dark {
    --main-bg: var(--main-bg-dark);
  }

  html.light {
    --main-bg: var(--main-bg-light);
  }

  body {
    background: var(--main-bg); /* Uses the dynamic background */
  }

  main {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  nav {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
  }
  footer section {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  @media (min-width: 640px) {
    /* Tailwind 'sm' breakpoint */
    main {
      padding-left: 2.5rem;
      padding-right: 2.5rem;
    }
    nav {
      padding-left: 2.5rem;
      padding-right: 2.5rem;
      padding-top: 1rem;
    }
    footer section {
      padding-left: 2.5rem;
      padding-right: 2.5rem;
    }
  }

  @media (min-width: 768px) {
    /* Tailwind 'md' breakpoint */
    main {
      padding-left: 2.5rem;
      padding-right: 2.5rem;
    }
    nav {
      padding-left: 2.5rem;
      padding-right: 2.5rem;
      padding-top: 1rem;
    }
    footer section {
      padding-left: 2.5rem;
      padding-right: 2.5rem;
    }
  }

  @media (min-width: 1024px) {
    /* Tailwind 'lg' breakpoint */
    main {
      margin-left: auto;
      margin-right: auto;
      padding-left: 0rem;
      padding-right: 0rem;
      max-width: var(--lg-width);
    }
    nav {
      margin-left: auto;
      margin-right: auto;
      padding-left: 0rem;
      padding-right: 0rem;
      padding-top: 1rem;
      max-width: var(--lg-width);
    }
    footer section {
      margin-left: auto;
      margin-right: auto;
      padding-left: 2.5rem;
      padding-right: 2.5rem;
      max-width: var(--lg-width);
    }
  }

  @media (min-width: 1280px) {
    /* Tailwind 'xl' breakpoint */
    main {
      max-width: var(--xl-width);
    }
    nav {
      max-width: var(--xl-width);
    }
    .footer-width {
      max-width: var(--xl-width);
    }
  }

  /* Tailwind '2xl' breakpoint */
  @media (min-width: 1536px) {
    main {
      max-width: var(--twoxl-width);
    }
    nav {
      padding-top: 0.75rem;
      max-width: var(--twoxl-width);
    }
    footer section {
      max-width: var(--twoxl-width);
    }
  }
</style>
