---
import HeaderProject from '@/components/layouts/HeaderProject.astro';
import Footer from '@/components/layouts/Footer.astro';
import SEO from '@/components/layouts/SEO.astro';
import { ViewTransitions } from 'astro:transitions';
import '@fontsource/poppins/100.css';
import '@fontsource/poppins/200.css';
import '@fontsource/poppins/300.css';
import '@fontsource/poppins/400.css';
import '@fontsource/poppins/500.css';
import '@fontsource/poppins/600.css';
import '@fontsource/poppins/700.css';
import '@fontsource/poppins/800.css';
import '@fontsource/poppins/900.css';

interface Props {
  title: string;
  description: string;
  canonical?: string;
  lang: string;
}

const { title, description, canonical, lang } = Astro.props;
---

<!doctype html>
<html lang={lang}>
  <head>
    <script is:inline>
      function getInitialTheme() {
        const system = window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light';
        const savedTheme = localStorage.getItem('theme') || system;
        return savedTheme;
      }
      const theme = getInitialTheme();
      document.documentElement.classList.add(theme);
      localStorage.setItem('theme', theme);
    </script>

    <SEO canonical={canonical} description={description} title={title} lang={lang} />
    <script src="https://kit.fontawesome.com/d84373c6ce.js" crossorigin="anonymous" is:inline data-astro-rerun></script>
    <ViewTransitions />
  </head>
  <body transition:name="initial">
    <HeaderProject />
    <slot />
    <Footer />
  </body>
</html>

<style is:global>
  :root {
    color-scheme: light dark;
    --main-bg-gradient-dark: linear-gradient(0deg, #526d82 0%, #1f242d 100%);
    --main-bg-gradient-light: linear-gradient(0deg, #9394a5 0%, #f1f5f9 100%);
  }

  html {
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth; /* Enables smooth scrolling for all anchor links */
  }

  html.dark {
    --main-bg-gradient: var(--main-bg-gradient-dark);
  }

  html.light {
    --main-bg-gradient: var(--main-bg-gradient-light);
  }

  body {
    background: var(--main-bg-gradient); /* Uses the dynamic background */
  }

  main {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  @media (min-width: 640px) {
    /* Tailwind 'sm' breakpoint */
    main {
      padding-left: 2.5rem;
      padding-right: 2.5rem;
    }
  }

  @media (min-width: 768px) {
    /* Tailwind 'md' breakpoint */
    main {
      padding-left: 0;
      padding-right: 0;
      margin-left: auto;
      margin-right: auto;
      max-width: 720px;
    }
  }

  @media (min-width: 1024px) {
    /* Tailwind 'lg' breakpoint */
    main {
      max-width: 960px;
    }
  }

  @media (min-width: 1280px) {
    /* Tailwind 'xl' breakpoint */
    main {
      max-width: 1200px;
    }
  }

  @media (min-width: 1536px) {
    /* Tailwind '2xl' breakpoint */
    main {
      max-width: 1440px;
    }
  }
</style>
